{%load static%} <!--Carrega os arquivos estáticos-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'core/bulma.css'%}">
    <link rel="stylesheet" href="{%static 'core/footer.css'%}">
    <link rel="stylesheet" href="{%static 'core/wysiwyg.css'%}">
    <title>Blog do Leite</title>

</head>

<body>
    <section class="hero is-medium is-info">
        <div class="hero-body">
        <p class="title has-text-centered">
        Bem vindo ao Blog do Leite
        </p>
        <p class="subtitle has-text-centered">
        Blog criado no tutorial de Django
        </p>
        </div>
    </section>

    {% block  content %}
    {% endblock  %}

    <footerlass="footer">
        <div class="content has-text-centered">
            <p>
            <strong>Blog do Leite</strong> by Lucas Leite
            </p>
        </div>
    </footer>

</body>
</html>